<div class ="container">
  <div class="row">
      <div class="col-md-8">
        <div class="tzona">
            <h1>NUEVO RESPONSABLE</h1>
        </div>
      </div>
  </div>
</div>          
<div class ="container">
  <div class="card card-dark text-white" style="width:100%">
    <div class="card-body">
      <h2 class="card-title"></h2>
      <div class="row">
        <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div>
          <div class="col">
            <h4 class="card-title">DATOS DEL RESPONSABLE</h4>
                <div class="centrarcard"><%= render "form", responsible: @responsible %></div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>