<div class="container">
  <div id="<%= dom_id zone %>">
  <!--Se agrega campo para asignarle manualmente el ID a cada registro-->
    <p>
    <strong>Identificador de la zona:</strong>
      <%= zone.id %>
    </p>
    <p>
      <strong>Nombre de la zona:</strong>
      <%= zone.description %>
    </p>
  </div>
</div>
